<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.resources"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ThemeActivity" ><!-- 自定义动画切换 -->
        <activity
            android:name="com.example.resources.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="com.example.resources.ResourceActivity"></activity>
         <activity android:name="com.example.resources.AnimationActivity"></activity>
         <activity android:name="com.example.resources.ReflectActivity"></activity>
         <activity android:name="com.example.resources.ContentResolveActivity"></activity>
        <activity android:name="com.example.resources.drawable.ButtonState"></activity>
        <activity android:name="com.example.resources.drawable.Clip"></activity>
        <activity android:name="com.example.resources.drawable.CrossFade"></activity>
        <activity android:name="com.example.resources.drawable.Inset"></activity>
        <activity android:name="com.example.resources.drawable.Layer"></activity>
        <activity android:name="com.example.resources.drawable.Level"></activity>
        <activity android:name="com.example.resources.drawable.Shape"></activity>
        
        <provider android:name="com.example.resources.provider.PersonContentProvider"
            android:authorities="com.example.resources.PersonContentProvider"></provider>
    </application>

</manifest>
